{% extends 'blog/base.html' %}

{% block contenido %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="alert alert-danger shadow text-center">
            <h4>¿Eliminar este comentario?</h4>
            <p class="fst-italic">"{{ comentario.texto|truncatewords:10 }}"</p>
            <hr>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}